.grid_container{
    display:grid;
    grid-template-columns:48% 48%;
    justify-content:center;
    grid-row-gap:1em;
    grid-column-gap:1em;
    background-color:#6fdef1;
    padding:1em;
}


.grid_item img{
    max-width:100%;
    border: 5px double #f3a719;
    height:100%;
    object-fit:cover;
}

h1{
    color:#6fdef1;
}

.textwall{
    background-color:#60dff5;
    display:block;
}

.textwall>h2{
    text-align:left;
    padding-left:0.3em;
    color:#f5a40f;
    font-size:3vw;
}

.textwall>p{
    font-size:2vw;
    padding:0.4em;
}