.grid_container{
    display:grid;
    grid-template-columns:48% 48%;
    justify-content:center;
    grid-row-gap:1em;
    grid-column-gap:1em;
    background-color:#f03030;
    padding:1em;
}


.grid_item img{
    max-width:100%;
    border: 5px double #e8f531;
    height:100%;
    object-fit:cover;
}


.textwall{
    background-color:#f5f258;
    display:block;
    margin-bottom:0.5em;
}

.textwall>h2{
    text-align:left;
    padding-left:0.3em;
    font-size:3vw;
}

.textwall>p{
    font-size:2vw;
    padding:0.4em;
}